---
layout: default
---

<div class="home-page{% unless paginator.total_pages > 1 %} no-pagination{% endunless %}">
  <div class="posts">
    {% for post in paginator.posts %}
      <article class="post-preview">
        <header class="post-preview-header">
          <div class="post-title-row">
            <div class="post-title">{{ post.title }}</div>
            {% if post.categories %}
              {% for category in post.categories %}
                <a href="/{{ category }}/" class="category-link">{{ category }}</a>
              {% endfor %}
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date: "%Y년 %m월 %d일" }}
            </time>
          </div>
        </header>
        
        <div class="post-content">
          {{ post.content }}
        </div>
      </article>
    {% endfor %}
  </div>

  <!-- 메인 페이지 페이지네이션 -->
  {% if paginator.total_pages > 1 %}
    <nav class="pagination">
      <ul class="pagination-list">
        {% if paginator.previous_page %}
          <li class="pagination-item">
            <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination-link">
              ‹
            </a>
          </li>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <li class="pagination-item">
              <span class="pagination-link current">{{ page }}</span>
            </li>
          {% elsif page == 1 %}
            <li class="pagination-item">
              <a href="{{ '/' | relative_url }}" class="pagination-link">
                {{ page }}
              </a>
            </li>
          {% else %}
            <li class="pagination-item">
              <a href="{{ site.paginate_path | replace: ':num', page | relative_url }}" class="pagination-link">
                {{ page }}
              </a>
            </li>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <li class="pagination-item">
            <a href="{{ paginator.next_page_path | relative_url }}" class="pagination-link">
              ›
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>